.card-component {
  width: 100%;
  .card {
    .card-header {
      .title {
        font-weight: 600;
        font-size: 20px;
      }
      .closeIcon {
        cursor: pointer;
      }
    }
    .card-body.split-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .card-body {
      padding-top: 10px;
      padding-bottom: 10px;
      .content {
      }
    }
  }
}
